<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
</head>

<body>
    <h1>WSB the best</h1>
    <h2>{{sampleText}}</h2>
    <h3> {{thirdTitle}}</h3>
    {{ pageTitle }}
    <input type="text" id="example">
    <button id="action">Klik</button>
    <p id="text"></p>
    <script src="./../js/func.js"></script>
</body>

</html>